<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite" >

	<listeners>
		<listener class-name="qa.testcomponents.Listerners" />
	</listeners>

	<test name="ErrorHanding" thread-count="5">
		<classes>
			<class name="qa.tests.TC_02_VerifyErrorDisplayed" />
		</classes>
	</test> <!-- Test -->

	<test name="PurchaseOrder" thread-count="5">
		<classes>
			<class name="qa.tests.TC_01_VerifyUserAbleToOrderTheProduct" />  
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
